.card{
    text-align: center;
}
.bord-stock{
    cursor: pointer;
    width: 320px;
    height: 509px;
    border-radius: 12px;
    padding: 4px;
    background:linear-gradient(135deg, transparent 30px,  #1698D9 0);
}
.bord-none{
    width: 320px;
    height: 509px;
    border-radius: 12px;
    padding: 4px;
    background:linear-gradient(135deg, transparent 30px, #8c979b 0);
}

.card-info{

    font-family: 'Trebuchet MS';
    font-style: normal;

    background:linear-gradient(135deg, transparent 30px, white 0);

    width: 100%;
    height: calc(100% - 21px);

    border-radius: 10px;

    padding-top: 21px;

}

.none{
    content: '';
    position: relative;
    width: 100%;
    height: calc(100% - 21px);
    background: linear-gradient(135deg, transparent 30px, white 0);
    left: 0;
    top: 0;

    opacity: 0.7;
    padding-top: 21px;
}

span{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #666666;
}
h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
    margin-top: 5px;
    margin-bottom: 0;
}
h2{
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
p{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #666666;
}

.card__information{
    text-align: left;
    margin-left: 51px;
}

.card__wrapper {
    margin-top: 60px;
    width: 320px;
    height: 272px;
    border-radius: 10px;
}
.img {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img img {
    margin-top: 90px;
    height: 368px;
    width: auto;
}
.cycle-stock{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #1698D9;
    text-align: center;
    position: relative;
    float: right;
    bottom: 96px;
    right: 16px;
}
.cycle-none{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #8c979b;
    text-align: center;
    position: relative;
    float: right;
    bottom: 96px;
    right: 16px;
}

.cycle__weight{
    position: relative;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 22px;
    top: 20px;
}
.cycle__kg{
    color: white;
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 11px;
    top: 23px;
}
.sub{
    position: relative;
    margin-top: 14px;
    left: 40px;
}
.sub p{
    color: white;
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
}
.sub p span{
    color: #1698D9;
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-decoration: underline dashed #1698D9;
    cursor: pointer;
}

