body{
    font-family: 'Exo2', sans-serif;
    font-weight: normal;
    color: white;
    background-image: url("IMG/back.png");
    background-repeat: repeat;
    text-align: center;
}
.App{
    margin: 0;
    height: 100vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 5e-05) 49.88%, rgba(0, 0, 0, 0.5) 100%);


}
h1:first-child{
    font-weight: 100;
    color: white;
    margin: 0 auto 24px ;
    padding: 36px 0 0 0;
    font-size: 36px;
    line-height: 44px;
    text-shadow: 0 1px 1px #000000;
}

@media (max-width: 1160px) {
    .App{
        height: 100%;
    }
}

