.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-list__item{
    margin: 0 80px 0 0;
}

.card-list__item:nth-child(3n) {
    margin: 0;
}

@media (min-width: 701px) and (max-width: 1060px) {
    .card-list__item:nth-child(2n) {
        margin: 0;
    }
}

@media (max-width: 700px) {
    .card-list__item:nth-child(1n) {
        margin: 0;
    }
}
